.slider-content{
    position: absolute;
    top: 30%;
}
.overlay::before{
    content: "";
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
    top:0;
    background-color: black;
    opacity: .3;
}
.bg-custom{
    background-color: #F4FAFD;
}